# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
'''
Your Code
'''

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [3]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.574516  0.065478  0.413032
1  0.610636  0.273406  0.656217
2  0.989493  0.639035  0.781952
3  0.979480  0.013543  0.712766
4  0.100997  0.582623  0.264712

In [4]:
df - df.mean()

          0         1         2
0 -0.076508 -0.249339 -0.152704
1 -0.040389 -0.041411  0.090481
2  0.338469  0.324218  0.216216
3  0.328456 -0.301274  0.147030
4 -0.550027  0.267806 -0.301024

In [5]:
df.sub(df.mean(axis=1) ,axis=0)

          0         1         2
0  0.223507 -0.285531  0.062024
1  0.097216 -0.240013  0.142797
2  0.186000 -0.164458 -0.021541
3  0.410884 -0.555053  0.144170
4 -0.215114  0.266513 -0.051399

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [6]:
df

          0         1         2
0  0.574516  0.065478  0.413032
1  0.610636  0.273406  0.656217
2  0.989493  0.639035  0.781952
3  0.979480  0.013543  0.712766
4  0.100997  0.582623  0.264712

In [8]:
df.sum().argmin()

1

In [10]:
df.sum(axis=1).argmin()

4